.experience .blocoexp {
    width: 90%;
    background-color: white;
    padding: 20px;
    margin: 5px auto;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    block-size: auto;
}

.experience .blocoexp .tituloexp {
    color: rgba(0, 0, 0, .87);
    font-size: 15px;
    font-weight: 300;
}

.experience .blocoexp .periodo {
    color: rgba(0, 0, 0, .54);
    font-size: 14px;
    font-weight: 300;
    margin-top: 0%;
}

.experience .blocoexp .descricaoexp {
    font-size: 14px;
    color: rgba(0, 0, 0, .87);
    margin-top: 0%;
    margin-bottom: 2%;
}

.education .blocoexp {
    width: 90%;
    background-color: white;
    padding: 20px;
    margin: 5px auto;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    block-size: 50px;
}

.education .blocoexp .tituloexp {
    color: rgba(0, 0, 0, .87);
    font-size: 15px;
    font-weight: 300;
}

.education .blocoexp .periodo {
    color: rgba(0, 0, 0, .54);
    font-size: 14px;
    font-weight: 300;
    margin-top: 0%;
}

.about .blocoabout {
    width: 90%;
    background-color: white;
    padding: 20px;
    margin: 5px auto;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    block-size: auto;
}

.about .blocoabout .descricaoabout {
    font-size: 15px;
    color: rgba(0, 0, 0, .87);
    margin-top: 0%;
    margin-bottom: 2%;
}